.page {
  background-color:  #1b2224;
  margin: 0 auto;
  width: 80vw;
}

.page.light {
  background-color: #55b9e4;
  margin: 0 auto;
  width: 80vw;
}

.button{
  width: 60px;
  height: 35px;
}

.head {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 47px;
}

.feedback::before {
  content: url(../img/Vector.png);
  padding-right: 15px;
}
.feedback {
  border: 1px solid #e4b564;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-family: "Circe";
}

.phone {
  color: #e4b564;
  text-decoration: none;
}

.header-title {
  color: #ffffff;
  display: flex;
  margin-top: 125px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.header-text {
  display: flex;
  margin-top: 41px;
  color: #ffffff;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.header-grid {
  padding-top: 40px;
  width: 1fr;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.header-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 468px;
}

.header-grid-item1 {
  background-color: #634f2c;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.header-grid-item2 {
  background-color: #b4a385;
  grid-column: 3 / 5;
  grid-row: 1 / 4;
}

.header-grid-item3 {
  background: #e4b564;
  grid-column: 5 / 7;
  grid-row: 1 / 4;
}

.header-grid-item4 {
  background: #635a4a;
  grid-column: 1 / 4;
  grid-row: 4 / 7;
}

.header-grid-item5 {
  background: #b08c4d;
  grid-column: 4 / 7;
  grid-row: 4 / 7;
}

.main-title {
  color: #ffffff;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  padding-top: 160px;
}

.main-grid {
  padding-top: 90px;
  width: 1fr;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.main-grid > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 44px;
  padding-left: 50px;
  
}

.main-grid-item1 {
  background: #0e0e0e;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  height: 313px;
  flex-direction: column;
}

.main-grid-item2 {
  background: #242424;
  grid-column: 3/5;
  grid-row: 1/5;
  flex-direction: column;
}

.main-grid-item3 {
  background: #1f1f1f;
  grid-column: 5/7;
  grid-row: 1/3;
}

.main-grid-item4 {
  background: #1f1f1f;
  grid-column: 1/3;
  grid-row: 4/9;
}

.main-grid-item5 {
  background: #e4b564;
  grid-column: 3/5;
  grid-row: 5/9;
}

.main-grid-item6 {
  background: #0e0e0e;
  grid-column: 5/7;
  grid-row: 3/6;
}

.main-grid-item7 {
  background: #0a0909;
  grid-column: 5/7;
  grid-row: 6/9;
}

.footer-title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin-top: 175px;
}

.all-projects {
  color: #e4b564;
  border: 1px solid #e4b564;
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 40px;
}

.footer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 72px;
  /* font-family: "Gilam";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
*/
  
}

.footer-grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-grid-items1 {
  background: #634f2c;
  height: 391px;
}

.footer-grid-items2 {
  background: #e8d2abc2;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  display: block;
  flex-direction: column;
  
}

.footer-grid-items3 {
  background: #e4b564;
}

.footer-grid-items4 {
  background: #635a4a;
}

.footer-grid-items5 {
  background: #b08c4d;
}

.footer-grid-items6 {
  background: #634f2c;
}
