.body {
    background-image: url(../img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    
  }
  
  .header {
    background: #00000066;
    max-height: 
    58px;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left-text {
    color: #979797;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10vh;
    font-size: 3.5vh;
  }
  
  .switchBtn {
   margin-right: 20px;
   border: none;
   border-radius: 3px;
   font-size: 1em;
   outline: none; 
   font-family: 'Roboto Slab', serif;
  }
  
  .switchBtn:hover {
   background-color: #848484;
  }
  
  .switchBtn::after{
    content: url(../img/contrast-filled-svgrepo-com.svg);
  }
  
  .header-left-text:hover {
    color: #02994b;
  }
  
  .header-line {
    border-left: 1px solid rgb(167, 167, 167);
    height: 2.6vh;
    padding-right: 3.7vh;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-svg {
    padding-left: 3vw;
  }
  
  .header-svg-calendar:hover path {
    fill: #01af55;
  }
  
  .header-svg-mail:hover path {
    fill: #01af55;
  }
  
  .header-svg-compass:hover path {
    fill: #01af55;
  }
  
  .header-svg > svg {
    padding-right: 1.7vw;
  }
  
  .header-right-text {
    color: #8e8e8e;
    font-family: "Ubuntu", sans-serif;
    font-size: 2.4vh;
    padding-right: 10vh;
  }
  
  .log-in-hover:hover {
    color: #01b156;
  }
  
  .sing-in-hover:hover {
    color: #01b156;
  }
  
  .main {
    background: rgb(29, 29, 29) ;
    max-width: 29vw;
    min-width: 20vw;
    max-height: 81vh;
    min-height: 81vh;
    margin: 0 auto;
    margin-top: 7.5vh;
  }
  
  .small-square {
    width: 2.45vh;
    height: 2.45vh;
    background: #1f5e3e;
    position: relative;
    top: 4.8vh;
  }
  
  .sing-up-or-log-in-text {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 8.2vh;
    padding-right: 8.2vh;
  }
  
  .sing-up-text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    color: rgb(126, 125, 125);
  }
  
  .log-in-text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    color: #236b46;
  }
  
  .log-in-text:hover {
    color: #01391c;
    text-decoration: underline;
  }
  
  .facebook-google-log {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 8.2vh;
    padding-right: 8.2vh;
  }
  
  .facebook-log {
    background: #20407e;
    width: 10.5vw;
    height: 6.6vh;
    border-radius: 0.7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .facebook-log:hover {
    background: #011845;
  }
  
  .google-log {
    background: #8c2d1e;
    width: 10.5vw;
    height: 6.6vh;
    border-radius: 0.7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .google-log:hover {
    background: #580f04;
  }
  
  .fb-text {
    color: #d5d5d5;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
  }

  .google-text {
    color: #b5b5b5;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
  }
  
  .fb-logo {
    position: relative;
    padding-top: 0.41vh;
    border-right: 1px solid #2b0d0920;
    display: flex;
    align-items: center;
    padding-right: 1.3vh;
  }
  
  .google-logo {
    position: relative;
    padding-top: 0.13vh;
    border-right: 1px solid #2b0d0920;
    padding-right: 1.37vh;
    display: flex;
    align-items: center;
  }
  
  .or {
    padding-top: 1.37vh;
    padding-bottom: 1.37vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    color: #848484;
    font-size: 1.93vh;
    height: 2.7vh;
  }
  /*
  .or::before {
    content: url(../img/line.png);
  }
  
  .or::after {
    content: url(../img/line.png);
  }
  */
  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.98vw;
    
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  
  .first-name {
    width: 21.1vw;
    height: 6.1vh;
    border: 1px solid #000000;
    border-radius: 0.5vh;
    background-color: #848484;
  }
  
  .first-name:focus{
    background: #cbcbcb;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 0.5vh;
  outline: none;
  }
  
  .last-name {
    width: 21.1vw;
    height: 6.1vh;
    border: 1px solid #000000;
    border-radius: 0.5vh;
    background-color: #848484;
  }
  
  .last-name:focus{
    background: #cbcbcb;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 0.5vh;
  outline: none;
  }
  
  .email {
    width: 21.1vw;
    height: 6.1vh;
    border: 1px solid #000000;
    border-radius: 0.5vh;
    background-color: #848484;
  }
  
  .email:focus{
    background: #cbcbcb;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 0.5vh;
  outline: none;
  }
  
  .choose-password {
    width: 21.1vw;
    height: 6.1vh;
    border: 1px solid #000000;
    border-radius: 0.5vh;
    background-color: #848484;
  }
  
  .choose-password:focus{
    background: #cbcbcb;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 0.5vh;
  outline: none;
  }
  
  .confirm-password {
    width: 21.1vw;
    height: 6.1vh;
    border: 1px solid #000000;
    border-radius: 0.5vh;
    background-color: #848484;
  }
  
  .confirm-password:focus{
    background: #cbcbcb;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 0.5vh;
  outline: none;
  }
  
  .checkbox {
    padding-top: 2.06vh;
    position: relative;
    padding-left: 8.1vh;
  
  }
  
  .checkbox-input{
    position: absolute;
    appearance: none;
  }
  
  .checkbox-label{
    padding-left: 2.7vh;
    color: #F2F2F2;
  }
  
  .checkbox-label::before{
   display: block;
   width: 0.98vw;
   height: 2.06vh;
   border: 1px solid #F2F2F2;
   content: "";
   position: absolute;
  
  }
  
  .checkbox-label::after{
    content: "";
    display: block;
    width: 0.98vw;
   height: 2.06vh;
    background: url(../img/Vector\ 1.svg) no-repeat;
    background-size: 0.98vw 2.06vh;
    opacity: 0;
    z-index: 3;
    top: 15px;
    position: absolute;
  }
  
  .checkbox-input:checked + .checkbox-label::after{
    opacity: 1;
  }
  
  .checkbox-link {
    color: #35a46b;
    text-decoration: none;
  }
  
  .checkbox-link:hover {
    color: #01b759;
    text-decoration: underline;
  }
  
  .create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.06vh;
  }
  
  .create-account-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21.6vw;
    height: 6.3vh;
    background: #3cb878cc;
    border-radius: 0.5vh;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
  }
  
  .create-account-link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .create-account-text:hover {
    background: #01813f;
  }
  