/* --- HEADER --- */
.header {
  background-image: url(../pictures-ham/Sections-background/section-1\(header\).jpg);
  width: 100%;
  height: 87rem;

  background-attachment: fixed;
  background-position: top;
}

.header-nav {
  width: 100%;
  height: 7.5rem;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  justify-content: space-around;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-h {
  background-image: url(../svg/Polygon\ 1\ 1.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.625rem;
  height: 4.188rem;
  color: #fff;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.938rem;
}

.header-logo-the {
  color: #ffff;
  color: #fff;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  padding-left: 0.5rem;
}

.header-logo-ham {
  color: #18cfab;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.header-nav-div-p {
  display: flex;
}

.header-nav-p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.563rem;
  text-transform: uppercase;
  margin-top: 3.25rem;
  margin-right: 1.25rem;
}

.search {
  width: 1.5rem;
  height: 1.2rem;
  margin-top: 3.5rem;
}

.header-nav-p:hover {
  color: #18cfab;
  border-bottom: 3px solid #18cfab;
}

.header-title-main {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 4.875rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 1px;  */
  text-transform: uppercase;
  margin-top: 1.375rem;
}

.header-title {
  margin-top: 16.5rem;
}

.header-title-secondary {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.188rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 1px;  */
  text-transform: uppercase;
}

.wordpress-text {
  color: #18cfab;
}

.header-title-text {
  color: #d4d4d4;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1.375rem;
  /* line-height: 1px; */
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  width: 169px;
  height: 63px;
  margin: 8.375rem 1.625rem 0rem 1.625rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.01);
}

.header-button:hover {
  border-top: 0.2rem solid #fff;
}

.explore {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.9rem;
  text-transform: uppercase;
  background-color: #18cfab;
  border-radius: 0.45rem;
}

.purchase {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.938;
  font-style: normal;
  font-weight: 700;
  line-height: 3.9rem;
  text-transform: uppercase;
  background-color: #00cbf6;
  border-radius: 0.45rem;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13.45rem;
  height: 23.625rem;
}

.header-section-block {
  width: 25%;
  height: 23.625rem;
  background-color: #18cfab;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.odd-block {
  background-color: #1c2a33;
  color: #18cfab;

  /* line-height: normal; */
}

.header-section-text {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 3.125rem;
}

/* --- MAIN ---*/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-our-services-text {
  color: #4e4e4e;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5.25rem;
}

.two-lines {
  margin-top: 1.5rem;
}

.main-our-services {
  margin-top: 4.375rem;
}

.main-our-services-table {
  width: 72.5rem;
}

.main-our-services-table-tr {
  /* width: 1160px;
    height: 238px; */
  display: flex;
}

.main-our-services-table-td {
  width: 12rem;
  height: 4.563rem;
  color: #777777;
  text-align: center;
  font-family: Montserrat;
  font-size: 15.986px;
  font-style: normal;
  font-weight: 400;
  border: 3px solid #fff;
  /* line-height: 38.986px;  */
  padding-top: 1.4rem;
  margin-right: 3px;
}

.main-our-services-table-td:hover {
  border: 3px solid #18cfab;
}

.active-our-services-td {
  background-color: #18cfab;
  color: #fff;
  border: 3px solid #18cfab;
}

.main-our-services-table-tr-content {
  display: flex;
  margin-top: 1.688rem;
}

.main-our-services-table-td-content {
  width: 72.5rem;
  height: 8.5rem;
  display: none;
}

.active-our-services-table-td-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-our-services-table-td-content-text {
  padding-left: 0.9em;
  color: #777;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
}

.main-our-services-table-td-content-photo {
  width: 12rem;
  height: 8.75rem;
}

.everything-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5.75rem;
  width: 100%;
  height: 29.7rem;
  background-image: url(../pictures-ham/Sections-background/Layer\ 21\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.everything-section-h1 {
  color: #18cfab;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.everything-section-h4 {
  color: #d8d8d8;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.everything-section-button {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.938;
  font-style: normal;
  font-weight: 700;
  line-height: 3.9rem;
  text-transform: uppercase;
  background-color: #18cfab;
  border-radius: 0.45rem;
  width: 10.5rem;
  height: 4rem;
  margin-top: 4rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.01);
}

.everything-section-button:hover {
  border-top: 0.2rem solid #fff;
}

.amazing-work {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  flex-direction: column;
}

.amazing-work-h1 {
  color: #4e4e4e;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.amazing-work-table {
  margin-top: 4.5rem;
}

.amazing-work-tr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.amazing-work-table-tab {
  color: #717171;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 42.042px;
  border: 1px solid #dadada;
  /* padding: 1.2rem; */
  padding: 0.7rem 2rem 0.7rem 2rem;
  text-align: center;
}

.active-amazing-work-table-tab {
  border: 1px solid #18cfab;
  color: #18cfab;
}

.amazing-grid {
  display: grid;
}

.all {
  margin-top: 4.5rem;
  display: grid;
  grid-template-rows: 11.25rem 11.25rem 11.25rem;
  grid-template-columns: 15.938rem 15.938rem 15.938rem 15.938rem;
}

.graphic-design {
  margin-top: 4.5rem;
  display: none;
  grid-template-rows: 11.25rem 11.25rem 11.25rem;
  grid-template-columns: 15.938rem 15.938rem 15.938rem 15.938rem;
}

.web-design {
  margin-top: 4.5rem;
  display: none;
  grid-template-rows: 11.25rem 11.25rem 11.25rem;
  grid-template-columns: 15.938rem 15.938rem 15.938rem 15.938rem;
}

.landing-pages {
  margin-top: 4.5rem;
  display: none;
  grid-template-rows: 11.25rem 11.25rem 11.25rem;
  grid-template-columns: 15.938rem 15.938rem 15.938rem 15.938rem;
}

.wordpress {
  margin-top: 4.5rem;
  display: none;
  grid-template-rows: 11.25rem 11.25rem 11.25rem;
  grid-template-columns: 15.938rem 15.938rem 15.938rem 15.938rem;
}

.load-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 4.375rem ; */
}

.more-btn {
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #18cfab;
  border: none;
  width: 9.75rem;
  height: 3.75rem;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4.375rem;
}

.more-btn::before {
  content: url(../svg/Forma\ 1.svg);
}

.more-tabs {
  display: grid;
  grid-template-rows: 11.25rem 11.25rem 11.25rem;
  grid-template-columns: 15.938rem 15.938rem 15.938rem 15.938rem;
}

.breaking-news {
  margin-top: 11.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.breaking-news-h1 {
  color: #4e4e4e;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.breaking-news-grid-pht {
  display: grid;
  grid-template-rows: 208px 208px;
  grid-template-columns: 240px 240px 240px 240px;
  gap: 45px;
  margin-top: 4.25rem;
}

.breaking-news-grid-pht-box1 {
  text-align: center;
  background-image: url(../photo/Layer\ 47.png);
}

.breaking-news-grid-pht-box2 {
  text-align: center;
  background-image: url(../photo/Layer\ 50.png);
}

.breaking-news-grid-pht-box3 {
  text-align: center;
  background-image: url(../photo/Layer\ 51.png);
}

.breaking-news-grid-pht-box4 {
  text-align: center;
  background-image: url(../photo/Layer\ 52.png);
}

.breaking-news-grid-pht-box5 {
  text-align: center;
  background-image: url(../photo/Layer\ 53.png);
}

.breaking-news-grid-pht-box6 {
  text-align: center;
  background-image: url(../photo/Layer\ 54.png);
}

.breaking-news-grid-pht-box7 {
  text-align: center;
  background-image: url(../photo/Layer\ 55.png);
}

.breaking-news-grid-pht-box8 {
  text-align: center;
  background-image: url(../photo/Layer\ 56.png);
}

.breaking-news-grid-pht-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #717171;
  padding-top: 150px;
}

.breaking-news-grid-pht-text-small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #777777;
}

.small-squere {
  position: relative;
  top: 0px;
  left: 180px;
  width: 60px;
  height: 60px;
  background: #203e38;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.breaking-news-grid-pht-box1:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box1:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box2:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box2:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box3:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box3:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box4:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box4:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box5:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box5:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box6:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box6:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box7:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box7:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box8:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box8:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.feedback {
  margin-top: 8rem;
  background-image: url(../pictures-ham/Sections-background/section-3.jpg);
  width: 100%;
  height: 55rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.feedback-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.125rem;
  flex-direction: column;
}

.feedback-h1 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.feedback-shape {
  margin-top: 4.25rem;
}

/* .feedback-slider-cv {
  color: #bbb;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  width: 72rem;
  margin-top: 2.25rem;
}

.feedback-slider-name{
  color: #18CFAB;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 27px;
text-transform: uppercase;
margin-top: 2.25rem;
}

.feedback-slider-job {
  color: #BBB;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: 27px;
}

.feedback-slider-photo{
  width: 9rem;
  height: 9rem;
  border-radius: 100px;
  margin-top: 3.125rem;
  border: 7px solid rgba(0, 255, 166, 0.3);
}

.member-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.active-member-info{
  display: flex;
} */
/* .shelton{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
display: none;
}

.walker{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.hasan{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.garcia{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
} */

/* .feedback-people-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.375rem;
}

.feedback-person-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5rem;
}

.feedback-person-slider-photo{
 width: 4rem;
 height: 4rem; 
 border: 3px solid rgba(0, 255, 166, 0.3);
 border-radius: 100px;
}

.feedback-person-slider-photo-active{
  margin-top: -20px;
}

.feedback-people-slider-btn{
  border: 2px solid rgb(183, 183, 183);
  background-color: rgba(255, 255, 255, 0.016);
  width: 1.7rem;
  height: 1.7rem;
}

.feedback-people-slider-btn:hover{
  border: 2px solid rgb(183, 183, 183);
  background-color: #18cfab;
  width: 1.7rem;
  height: 1.7rem;
}

.feedback-people-slider-btn:active{
  border: 2px solid rgb(183, 183, 183);
  background-color: #109076;
  width: 1.7rem;
  height: 1.7rem;
} */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #BBB;;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #00ecb9;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #898989;
}
.nav-btn {
  height: 70px;
  width: 70px;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 235, 188, 0.888);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(84, 84, 84, 0.726);
}

.footer{
width: 100%;
height: 7.625rem;
background-color: rgba(34, 53, 63, 1);
display: flex;
align-items: center;
justify-content: center;
color: #AEAEAE;
font-family: Montserrat;
font-size: 14px;
font-weight: 300;
line-height: 26px;
}

.footer-h1-ham{
  color: #18cfab;
}

.footer-h1-ham:hover{
  color: #12987d;
}